.searchBar-wrapper {
  position: relative;

  input {
    border: 1px solid rgba(230, 234, 245, 1);
    width: 280px;
    height: 20px;
    padding: 10px 15px;
    border-radius: 1px;
    color: rgba(146, 155, 188, 1);
  }

  .search-icon {
    position: absolute;
    top: 13px;
    right: 15px;
  }
}